footer{
    color:$color;
    background: $color-footer;
    position: absolute;
    width: 100%;
    padding-left: 22px;
    padding-top: 30px;
    line-height: 1%;
    .list-footer{
        display: flex;
        flex-direction: column;
        padding: 0;
        &__item{
            display: flex;
            align-items: center;
             .item__helping{
                padding-right: 10px;
                font-size: 10px;
                }
        }
        
        }
    }
