footer {
  color: $color;
  background: $color-footer;
  padding-left: 22px;
  margin-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  h3 {
    font-family: $text, cursive;
    font-weight: inherit;
    font-size: 13px;
  }
  ul {
    font-weight: 400;
    padding-bottom: 15px;
    a {
      color: $color;
      line-height: 19px;
      text-decoration: none;
      font-size: 11px;

      font-family: $text2;
      i {
        padding-right: 5px;
      }
      .icon {
        font-size: 9px;
      }
    }
  }
}
