footer{
    color:$color;
    background: $color-footer;
    position: absolute;
    width: 100%;
    padding-left: 15px;
    padding-top: 30px;
    line-height: 1%;
    .logo-footer
    .list-footer-item{
        display: flex;
        align-items: baseline;
    }
    p{
        font-family: $text2;
    }
    .item-icone{
    color: $color;
    }
}