html {
  @include responsive(phone) {
    font-size: 100%;
  }
}
body {
  font-family: $text2;
}
.map {
  background-color: #e5e5e5;
  width: 100%;
  @include flexbox;
  font-size: 13px;
  &__icone {
    padding-right: 17px;
    font-size: 27px;
  }
  p {
    font-size: 20px;
  }
}
.container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-card;
  width: 100%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 20px;
  &__title {
    font-size: 15px;
  }
  &__text {
    font-size: 18px;
    padding-bottom: 10px;
  }
  &__btn {
    color: $color;
    border: $btn_bord;
    height: $btn_height;
    width: $btn_width;
    font-size: $btn_size;
    background: $btn_background_color;
    border-radius: $btn_radius;
  }
}
.block {
  margin-left: 10px;
  &__number {
    position: absolute;
    p {
      background: $color-primaire;
      height: 24px;
      width: 24px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color;
    }
  }
  .article-block {
    display: flex;
    align-items: baseline;
    background: $color-card;
    border-radius: 15px;
    margin: 0 15px 20px 11px;
    padding-left: 35px;
    box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 50%);
    &__icone {
      margin-right: 22px;
    }
  }
}

aside {
  background-color: $color-card;
  width: 100%;
  padding-bottom: 20px;
  .title {
    padding-top: 40px;
    padding-left: 10px;
  }
}
.card-restaurant {
  background: $color;
  border-radius: 20px;
  margin: 0 20px 20px 20px;

  &__nouveau {
    position: absolute;
    color: green;
    background: $color-tertiaire;
    height: 32px;
    width: 68px;
    margin-left: 238px;
    margin-top: 20px;
    p{
      margin-top: 0;
    }
  }
  img {
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 170px;
    border-radius: 20px 20px 0 0;
  }
}

.card-body {
  display: flex;
  width: 100%;
  padding-bottom: 12px;
  &__text {
    width: 70%;
    padding-left: 10px;
    line-height: 6px;
    h3 {
      font-weight: 800;
    }
    p {
      font-size: 17px;
      font-weight: 100;
    }
  }
  &__icone {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 22px;
    font-size: 29px;
  }
}
