.map {
  background-color: #e5e5e5;
  width: 100%;
  border-top: 1px inset #f2f2f2;
  @include flexbox;
  font-size: 13px;
  &__icone {
    padding-right: 17px;
    font-size: 27px;
  }
  p {
    font-size: 19px;
    margin-bottom: 34px;
  }
}
.info {
  background: $color-card;
  text-align: center;
  margin-top: -25px;
  &__title {
    font-size: 22px;
    padding: 15px;
  }
  &__text {
    font-size: 19px;
  }
  &__button {
    cursor: pointer;
    margin-bottom: 25px;
    height: 50px;
    width: 222px;
    box-shadow: 4px 4px 6px #aaa;
    background: linear-gradient(
      to top,
      $color-primaire,
      #b35cdc,
      $color-secondaire
    );
    border-radius: 20px;
    border: none;
    padding: 6px 25px 6px 25px;
    color: #fff;
    font-weight: bold;
  }
  &__button:hover {
    box-shadow: 4px 4px 6px #000;
    background-blend-mode: lighten;
    background-color: #ae80e5;
  }
}
section {
  margin-left: 15px;
  h2 {
    font-size: 21px;
    margin-left: 7px;
  }
}
.etapes {
  margin-left: 0;
  padding-left: 12px;
  li {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-right: 21px;
    margin: 24px 20px 15px 0px;
    border-radius: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 5px 15px #00000033;
    cursor: pointer;
    p {
      font-weight: bold;
    }
  }
  &__number {
    background-color: $color-primaire;
    color: white;
    border-radius: 50%;
    padding: 5px 9px;
    margin-left: -9px;
  }
  &__icon {
    padding-left: 15px;
    padding-right: 15px;
    color: #877a7a;
  }
  .color {
    color: $color-primaire;
  }
}

/* section restaurant*/
article {
  background: $color-card;
  padding-bottom: 15px;

  .title-restaurant {
    padding: 15px;
    align-items: center;
  }
  .restaurant {
    padding-left: 15px;
    padding-right: 15px;
    @include responsive(desktop) {
      @include flex-row;
      justify-content: space-around;
    }
    @include responsive(tablette) {
      @include flex-row;
      justify-content: space-around;
    }
    @include responsive(phone) {
      display: flex;
    }
  }
  /* -------------card restaurant---------------*/
  .card {
    background-color: $white;
    margin-bottom: 27px;
    padding-bottom: 10px;
    border-radius: 20px;
    width: 100%;
    position: relative;
    @include responsive(desktop) {
      width: 446px;
      height: 186px;
    }
    @include responsive(tablette) {
      width: 345px;
      height: 186px;
    }
    &__new {
      color: #008766;
      border-radius: 3px;
      margin-right: 20px;
      position: absolute;
      display: flex;
      justify-content: end;
      width: 100%;

      p {
        background: $color-tertiaire;
        border-radius: 3px;
        padding: 4px 11px 4px 11px;
        margin-top: 28px;
        margin-right: 17px;
        font-family: $text2;
        font-weight: 600;
        font-size: 12px;
      }
    }

    img {
      object-fit: cover;
      object-position: center;
      border-radius: 20px 20px 0 0;
      height: 131px;
      width: 100%;
    }
  }
  .card-body {
    display: flex;
    &__text {
      width: 50%;
      line-height: 5px;
      margin-left: 10px;
      font-size: 12px;
    }
  }
}
/*------------------Loader--------------------*/
#loader {
  height: 100%;
  position: fixed;
  text-align: center;
  margin: auto;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  animation: spinner 15s linear forwards;

  .loaderText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $text;
    margin-top: 224px;
    font-size: 20px;
    animation: loadertext 2s ease infinite;
  }
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loadertext {
  0% {
    transform: scale(0.5);
    color: $color-primaire;
  }
  20% {
    transform: scale(1);
    color: $color-secondaire;
  }
  100% {
    transform: scale(1.5);
    color: $color-tertiaire;
  }
}
