.container {
  background: $color-card;
  border-radius: 32px 32px 0 0;
  position: relative;
  padding-bottom: 45px;
  margin-top: -54px;
  .button {
    display: flex;
    justify-content: center;
    padding-top: 71px;
    padding-bottom: 84px;
    height: $btn_height;
    border: $btn_border;
  }
  .restaurant-section {
    @include responsive(desktop) {
      display: flex;
      justify-content: center;
    }
    @include responsive(tablette) {
      display: flex;
      flex-direction: column;
    }
    @include responsive(phone) {
      display: flex;
      flex-direction: column;
    }
    section {
      margin-bottom: -36px;
    }
  }
}
.background {
  width: 100%;
  img {
    height: 256px;
    object-fit: cover;
  }
}
.restaurant {
  display: flex;
  align-items: baseline;
  padding-top: 10px;
  &__title {
    width: 80%;
    font-family: $text;
    margin-top: 10px;
    h1 {
      font-size: 24px;
      text-align: center;
    }
  }
  &__icone {
    top: 31px;
    left: 49px;
    font-size: 24px;
    padding-left: 1rem;
    position: relative;
  }
}
/*-------------déroulement du menu avec une boucle-------------------*/
section {
  margin-bottom: 12px;
  margin-left: 10px;
  padding-bottom: 12px;

  /*boucle du Menu*/
  @for $i from 1 through 5 {
    .menu:nth-child(#{$i}) {
      animation-delay: $i * 0.5s;
    }
  }
}
@keyframes animText {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*----------------------------------------------------------------*/
.title-menu {
  font-weight: lighter;
  border-bottom: 3px solid $color-tertiaire;
  width: 36px;
  font-size: 15px;
  padding-bottom: 2px;
  margin-left: 5px;
}
.menu {
  flex: 0%;
  background: $white;
  box-shadow: 0 4px 6px #d0ccd0;
  height: 72px;
  margin: 10px;
  border-radius: 15px;
  padding-right: 15px;
  margin: 0 24px 15px 4px;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: animText 3s forwards;
  animation: animText 3s forwards;
  &:hover .check {
    opacity: 1;
    transform: translateX(-50px);
  }
  &:hover .check-icon {
    transform: rotate(360deg);
  }
  &:hover {
    padding-right: 80px;
  }
  h3 {
    font-size: 15px;
    padding-left: 7px;
    padding-top: 7px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__text {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: -22px;
    p {
      font-size: 12px;
      padding-left: 8px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  &__prix {
    font-size: 12px;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 3.5rem;
  }
  /*----------------------bouton validation----------------------*/
  .check {
    position: absolute;
    margin-left: 0;
    transition: 0.3s ease-in-out;
    background: $color-tertiaire;
    height: 75px;
    width: 77px;
    top: 0;
    right: -50px;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transition: transform 330ms ease-in-out;
    .check-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color: $color-tertiaire;
      background-color: white;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      transition: transform 500ms ease-in-out;
    }
  }
}
