img {
    height: $timg;
    width: $width;
    //position: absolute;
    object-fit: cover;
}
h2 {
    font-family: $text;
    font-size: 30px;
    margin-left: 19px;
    padding-top: 50px;
    font-weight: inherit;
    .heart {
        font-size: 30px;
        float: right;
        margin-right: 62px;
    }
}
main{
    position: relative;
    background-color: $color-card;
    background-position:bottom;
    border-radius: 47px 47px 0 0;
    position: 193px;
}
.card-menu {
    padding-bottom: 50px;
       h3 {
        margin-top: 40px;
        margin-left: 15px;
        font-weight: initial;
        color: hsla(0, 0%, 0%, 0.6);
        border-bottom: 3px solid $color-tertiaire;
        width: 49px;
        height: 32px;
        .heart{
            margin: 7px 37px 0 0;
        }
    }
}
.card {
    background: $color;
    border-radius: 14px;
    margin: $margin;
    line-height: 10px;
    h4 {
        margin: 0;
        padding-top: 16px;
        margin-left: 12px;
        font-weight: $gras;
        font-size: 20px;
    }
    .text {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        color: #000000b3;
    }
    .prix {
        font-weight: bold;
        color: $color-footer;
        margin-right: 15px;
    }    
}
.btn{
    display: flex;
    align-content: center;
    justify-content: center;
}
button {
    cursor: pointer;
    border: $btn_bord;
    height: $btn_height;
    width: $btn_width;
    border-radius: $btn_radius;
    font-size: $btn_size;
    background:$btn_background_color ;
    color: $color;
    margin-bottom: 33px;
}