body {
  margin: 0;
  width: 100%;
}
img {
  width: 100%;
}
li {
  list-style-type: none;
}
section {
  .container {
    text-align: center;
    margin-top: 8px;
    border-top: gray 2px solid;
  }
  .map-info {
    background-color: #d6d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  i {
    padding-bottom: 5px;
    font-size: 21px;
    }
  p {
    margin: 0 15px 30px 13px;
    font-weight: bolder;
  }
}
aside {
  background-color: #f2f2f2e7;
  h1 {
    font-size: 32px;
    margin-top: 0px;
    padding-top: 30px;
  }
  p {
    font-size: 20px;
    font-weight: lighter;
  }
  .explorer{
    margin-bottom: 55px;
  }
}
article {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px;
  margin-right: 10px;
  h2 {
    @include font;
  }
  li {
    display: flex;
    align-items: baseline;
    @include article;
  }
  ul {
    width: 100%;
    padding-left: 0px;
    .circle{
        color: $color;
        width: 18px;
        border-radius: 100%;
        background: $color-primaire;
        margin-right: 15px;
      }
    i {
      margin-left: 0px;
      font-size: 18px;
      color: #80808094;
    }
    p {
      margin: 20px 0 20px 20px;
    }
  }
}
.album{
  background-color: $color-card;
  width: 100%;
  h2{
    @include font;
  }
  .card-restaurant{
    margin-right: 12px;
    margin-left: 9px;
    background-color: $color;
    border-radius: 15px;
  }
}
.img-restaurant{
  @include img-restaurant;
  background-color: $color;
  border-radius: 15px 15px 0 0;
}
.card-text{
  position: absolute;
  background: $color-tertiaire;
  margin-left: 15px;
  margin-right: 15px;
}

