.header_logo {
  text-align: center;
  font-size: 38px;
  font-family: shrikhand;
  margin-top: 23px;
  margin-bottom: 23px;
}

body {
  margin: 0;
  width: 100%;
}

img {
  height: 256px;
  width: 100%;
}

li {
  list-style-type: none;
}

section .container {
  text-align: center;
  margin-top: 8px;
  border-top: gray 2px solid;
}
section .map-info {
  background-color: #d6d4d4;
  display: flex;
  align-items: center;
  width: 100%;
}
section i {
  padding-bottom: 5px;
  font-size: 21px;
  margin-left: 66px;
}
section p {
  margin-left: 20px;
  font-weight: bolder;
}

aside {
  background-color: #f2f2f2e7;
}
aside h1 {
  font-size: 32px;
  margin-top: 0px;
  padding-top: 30px;
}
aside p {
  font-size: 20px;
  font-weight: lighter;
}

article {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
article h2 {
  font-family: roboto;
  font-size: 25px;
  padding-top: 20px;
  margin-left: 21px;
  font-weight: 800;
}
article li {
  display: flex;
  align-items: baseline;
  background: #F2F2F2;
  border-radius: 20px;
  margin-bottom: 15px;
  height: 65px;
  width: 100%;
}
article ul {
  padding-left: 15px;
  width: 100%;
}
article ul .circle {
  color: white;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  background: #9356DC;
  margin-right: 15px;
}
article ul i {
  font-size: 18px;
  color: #80808094;
}
article ul p {
  margin: 20px 0 20px 20px;
}

.album h2 {
  font-family: roboto;
  font-size: 25px;
  padding-top: 20px;
  margin-left: 21px;
  font-weight: 800;
}

footer {
  color: white;
  background: black;
  position: absolute;
  width: 100%;
}
footer p {
  font-family: shrikhand;
}
footer li {
  display: flex;
  align-items: baseline;
}

img {
  height: 256px;
  width: 100%;
  object-fit: cover;
}

h2 {
  font-family: shrikhand;
  font-size: 30px;
  margin-left: 19px;
  padding-top: 50px;
  font-weight: inherit;
}
h2 .heart {
  font-size: 30px;
  float: right;
  margin-right: 62px;
}

main {
  position: relative;
  background-color: #F2F2F2;
  background-position: bottom;
  border-radius: 47px 47px 0 0;
  position: 193px;
}

.card-menu {
  padding-bottom: 50px;
}
.card-menu h3 {
  margin-top: 40px;
  margin-left: 15px;
  font-weight: initial;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 3px solid #99F2D0;
  width: 49px;
  height: 32px;
}
.card-menu h3 .heart {
  margin: 7px 37px 0 0;
}

.card {
  background: white;
  border-radius: 14px;
  margin: 10px 12px 10px 12px;
  line-height: 10px;
}
.card h4 {
  margin: 0;
  padding-top: 16px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 20px;
}
.card .text {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #000000b3;
}
.card .prix {
  font-weight: bold;
  color: black;
  margin-right: 15px;
}

.btn {
  display: flex;
  align-content: center;
  justify-content: center;
}

button {
  cursor: pointer;
  border: none;
  height: 54px;
  width: 210px;
  border-radius: 45px;
  font-size: 15px;
  background: radial-gradient(circle at top, #ff79da, #9356dc);
  color: white;
  margin-bottom: 33px;
}

/*# sourceMappingURL=style.css.map */
