/*.check {
  background-color: mediumspringgreen;
  height: 72px;
  top: 0;
  right: -201px;
  width: 9%;
  padding: 0 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform-origin: right;
  color: #fff;
  border-radius: 0 15px 15px 0;
  font-size: 25px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: ease;
}
.check:hover {
  transform: translateX(-200px);
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
}*/
.fa-heart {
  display: flex;
  right: 31px;
  bottom: 29px;
  border-radius: 50%;
  padding: 0.2em;
  color: #030303;
  position: absolute;
}

.fa-heart::before {
  content: "\f004";
  transition: color 0.5s ease-out;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -ms-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
}

.fa-heart:hover::before {
  color: #9356dc;
  font-weight: bold;
  cursor: pointer;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.header-retour {
  padding-bottom: 7px;
  margin-top: 27px;
  margin-right: 15px;
  font-size: 20px;
  width: 10%;
}
.header-retour a {
  color: black;
}

.header-logo {
  display: flex;
  width: 181px;
  height: 35px;
  padding-top: 18px;
  padding-right: 20px;
}

.map {
  background-color: #e5e5e5;
  width: 100%;
  border-top: 1px inset #f2f2f2;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 13px;
}
.map__icone {
  padding-right: 17px;
  font-size: 27px;
}
.map p {
  font-size: 19px;
  margin-bottom: 34px;
}

.info {
  background: #f2f2f2;
  text-align: center;
  margin-top: -25px;
}
.info__title {
  font-size: 22px;
  padding: 15px;
}
.info__text {
  font-size: 19px;
}
.info__button {
  cursor: pointer;
  margin-bottom: 25px;
  height: 50px;
  width: 222px;
  box-shadow: 4px 4px 6px #aaa;
  background: linear-gradient(to top, #9356dc, #b35cdc, #ff79da);
  border-radius: 20px;
  border: none;
  padding: 6px 25px 6px 25px;
  color: #fff;
  font-weight: bold;
}
.info__button:hover {
  box-shadow: 4px 4px 6px #000;
  background-blend-mode: lighten;
  background-color: #ae80e5;
}

section {
  margin-left: 15px;
}

h2 {
  font-size: 21px;
  margin-left: 7px;
}

.etapes {
  margin-left: 0;
  padding-left: 12px;
}
.etapes li {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-right: 21px;
  margin: 24px 20px 54px 0px;
  border-radius: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 5px 15px #00000033;
  cursor: pointer;
}
.etapes li p {
  font-weight: bold;
}
.etapes__number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 5px 9px;
  margin-left: -9px;
}
.etapes__icon {
  padding-left: 15px;
  padding-right: 15px;
  color: #877a7a;
}
.etapes .color {
  color: #9356dc;
}

/* section restaurant*/
article {
  background: #f2f2f2;
  padding-bottom: 15px;
  /* -------------card restaurant---------------*/
}
article .title-restaurant {
  padding: 15px;
  align-items: center;
}
article .restaurant {
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1400px) {
  article .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 991.98px) {
  article .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 600px) {
  article .restaurant {
    display: flex;
  }
}
article .card {
  background-color: white;
  margin-bottom: 27px;
  padding-bottom: 10px;
  border-radius: 20px;
  width: 100%;
  position: relative;
}
@media (max-width: 1400px) {
  article .card {
    width: 446px;
    height: 186px;
  }
}
@media (max-width: 991.98px) {
  article .card {
    width: 345px;
    height: 186px;
  }
}
article .card__new {
  color: #008766;
  border-radius: 3px;
  margin-right: 20px;
  position: absolute;
  display: flex;
  justify-content: end;
  width: 100%;
}
article .card__new p {
  background: #99f2d0;
  border-radius: 3px;
  padding: 4px 11px 4px 11px;
  margin-top: 28px;
  margin-right: 17px;
  font-family: roboto;
  font-weight: 600;
  font-size: 12px;
}
article .card img {
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
  height: 131px;
  width: 100%;
}
article .card-body {
  display: flex;
}
article .card-body__text {
  width: 50%;
  line-height: 5px;
  margin-left: 10px;
  font-size: 12px;
}

/*------------------Loader--------------------*/
#loader {
  height: 100%;
  position: fixed;
  text-align: center;
  margin: auto;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  animation: spinner 15s linear forwards;
}
#loader .loaderText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: shrikhand;
  margin-top: 224px;
  font-size: 20px;
  animation: loadertext 2s ease infinite;
}

@keyframes spinner {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loadertext {
  0% {
    transform: scale(0.5);
    color: #9356dc;
  }
  20% {
    transform: scale(1);
    color: #ff79da;
  }
  100% {
    transform: scale(1.5);
    color: #99f2d0;
  }
}
footer {
  color: white;
  background: black;
  padding-left: 20px;
  margin-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
footer h3 {
  font-family: shrikhand, cursive;
  font-weight: inherit;
  font-size: 13px;
}
footer ul {
  font-weight: 400;
  padding-bottom: 15px;
  padding-left: 0;
}
footer ul a {
  color: white;
  line-height: 19px;
  text-decoration: none;
  font-size: 11px;
  font-family: roboto;
}
footer ul a i {
  padding-right: 5px;
}
footer ul a .icon {
  font-size: 9px;
}

.container {
  background: #f2f2f2;
  border-radius: 32px 32px 0 0;
  position: relative;
  margin-top: -54px;
}
.container .button {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  padding-bottom: 37px;
  height: 50px;
}
@media (max-width: 1400px) {
  .container .restaurant-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 991.98px) {
  .container .restaurant-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .container .restaurant-section {
    display: flex;
    flex-direction: column;
  }
}

.background {
  width: 100%;
}
.background img {
  height: 256px;
  object-fit: cover;
}

.restaurant {
  display: flex;
  align-items: baseline;
  padding-top: 10px;
}
.restaurant__title {
  width: 80%;
  font-family: shrikhand;
}
.restaurant__title h1 {
  font-size: 26px;
  margin-left: 16px;
}
.restaurant__icone {
  top: 42px;
  left: 68px;
  font-size: 30px;
  padding-left: 1rem;
  position: relative;
}

section {
  margin-bottom: 12px;
  margin-left: 10px;
  padding-bottom: 12px;
  /*boucle du Menu*/
}

section .menu:nth-child(1) {
  animation-delay: 0.5s;
}
section .menu:nth-child(2) {
  animation-delay: 1s;
}
section .menu:nth-child(3) {
  animation-delay: 1.5s;
}
section .menu:nth-child(4) {
  animation-delay: 2s;
}

@keyframes animText {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.title-menu {
  font-weight: lighter;
  border-bottom: 3px solid #99f2d0;
  width: 36px;
  font-size: 15px;
  padding-bottom: 2px;
  margin-left: 5px;
}

.menu {
  flex: 0%;
  background: white;
  box-shadow: 0 4px 6px #d0ccd0;
  height: 72px;
  margin: 10px;
  border-radius: 15px;
  padding-right: 15px;
  margin: 0 24px 15px 4px;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /*---------------------------------deroulement du menu-------------------------------------*/
  animation: animText 3s forwards;
  /*----------------------bouton validation----------------------*/
}
.menu:hover .check {
  opacity: 1;
  transform: translateX(-50px);
}
.menu:hover .check-icon {
  transform: rotate(360deg);
}
.menu:hover {
  padding-right: 80px;
}
.menu h3 {
  font-size: 15px;
  padding-left: 7px;
  padding-top: 7px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__text {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: -22px;
}
.menu__text p {
  font-size: 12px;
  padding-left: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__prix {
  font-size: 12px;
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.menu .check {
  position: absolute;
  margin-left: 0;
  transition: 0.3s ease-in-out;
  background: #99f2d0;
  height: 75px;
  width: 77px;
  top: 0;
  right: -50px;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  transition: transform 330ms ease-in-out;
}
.menu .check .check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #99f2d0;
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: transform 500ms ease-in-out;
}

body {
  font-family: roboto;
  font-weight: lighter;
}

h1 {
  font-size: 32px;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
