.fa-heart {
  display: flex;
  right: 23px;
  bottom: 21px;
  border-radius: 50%;
  padding: 0.2em;
  color: rgb(3, 3, 3);
  position: absolute;
  &::before {
    content: "\f004";
    transition: 2s all ease-out;
  }
  &:hover::before {
    color: $color-primaire;
    font-weight: bold;
    cursor: pointer;
  }
}
