@mixin responsive($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (max-width: 1400px) {
      @content;
    }
  }
  @if $breakpoint == tablette {
    @media only screen and (max-width: 800px) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 400px) {
      @content;
    }
  }
}

@mixin flexbox {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
