@mixin responsive ($breakpoint) {
    
    @if$breakpoint == phone{
        @media only screen and (max-width: 600px) {@content}
        h1{
            display: flex;
        }
          
            
        }

    }
    @mixin flexbox {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
    @mixin line {
        text-decoration: none;
    }