//couleur pour les 5pages//

$color-primaire: #9356dc;
$color-secondaire: #ff79da;
$color-tertiaire: #99f2d0;
$white: white;
$color-footer: black;
$color-card: #f2f2f2;

// font-family//
$text: shrikhand;
$text2: roboto;

//pages//
$gras: bold;
//taille image des pages//
$timg: 250px;
$width: 100%;

//card-menu//
$margin: 10px 12px 10px 12px;
