
//couleur pour les 5pages//

$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99F2D0;
$color: white;
$color-footer:black;
$color-card:#F2F2F2;

// font-family//
$text: shrikhand;
$text2: roboto;

//pages//
$gras: bold;
//taille image des pages//
$timg: 436px;
$width: 100%;

//card-menu//
$margin: 10px 12px 10px 12px; 
