
//couleur pour les 5pages//

$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99F2D0;
$color: white;
$color-footer:black;
// font-family//
$text: shrikhand;
$text2: roboto;

//taille image des pages//
$timg: 500px;
$width: 100%;